extends layout

block content
  .controls(data-ng-controller='PlayerCtrl')
    .playing-state
      span(data-ng-show='playerState.isPlaying') Playing
      span(data-ng-hide='playerState.isPlaying') Paused
    .buttons
      button(data-ng-disabled='!buttonState.rewind', data-ng-click='rewind()') Rewind
      button(data-ng-disabled='!buttonState.playPause', data-ng-click='playOrPause()') Play/Pause
      button(data-ng-disabled='!buttonState.forward', data-ng-click='forward()') Forward
    .now-playing(data-ng-show='!!playerState.nowPlaying.title')
      img.album-art(data-ng-src='{{ playerState.nowPlaying.art }}')
      .text-wrapper
        .song-title {{ playerState.nowPlaying.title }}
        .album-artist-wrapper
          .song-artist {{ playerState.nowPlaying.artist }}
          .song-album {{ playerState.nowPlaying.album }}
